@model IEnumerable < AviaTor.Models.Value>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Статистика</title>
</head>
<body>
    <div>
        <h3>Статистика:</h3>
        <table>
            
            @foreach (var v in ViewBag.Values)
            {
                
                <tr>
                    <td>Кэшбек:</td><td><input type="text" value=@v.Cashback /></td>
                 </tr>
                 <tr>
                    <td>Процент скидки: </td><td><input type="text" value=@v.Procent /></td>
                 </tr>
                 <tr>
                     <td><input type="submit" value="Сохранить" /></td>
                 </tr>
                 <tr>
                    <td>Посетители: </td><td>@v.Posetit</td>
                 </tr>
                 <tr>
                    <td>Сумма: </td><td>@v.Sum</td>
                 </tr>
                
            }
        </table>
        <table cellspacing="3" >
            <tr class="header">
                <td><p>Имя</p></td>
                <td><p>Телефон</p></td>
                <td><p>Бонусы</p></td>
                <td></td>
            </tr>
           @foreach (var b in ViewBag.Clienti)
            {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Phone</p></td>
                <td><p>@b.Bonus</p></td>
                
            </tr>
           }
        </table>
    </div>
</body>
</html>